.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.workspace {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  position: relative;
}

.toastsPanel {
  position: absolute;
  right: 0;
  bottom: 0;

  background: grey;
  opacity: 0.8;
}
